<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Many to one relationship</title>
</head>
<body>
    <h1>Many to one relationship</h1>
    <h2>Create many to one Articles to Reporter</h2>
    <p>{{ a1 }}</p>
    <h2>Queries</h3>
    <p>{{ q1 }}</p>
    <h3>Query all articles from a reporter</h3>
    <ul>
        {% for art in q2 %}
        <li>{{ art }}</li>
        {% endfor %}
    </ul>
    <p>Total of articles: {{ q3 }}</p>
</body>
</html>