* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    padding: 2rem;
    height: 100%;
}

nav {
    background-color: gray;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: .5rem;
    width: 32px;
    height: 32px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul li {
    padding: 1rem;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

ul li a:hover {
    color: brown;
}

footer {
    background: gray;
    color: #fff;
    width: 100%;
    padding: 2rem;
}