* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
}

nav {
    background-color: gray;
    padding: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    padding: 20px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

ul li a:hover {
    color: brown;
}

/* footer */

footer {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}
small {
    color: #fff;
}