{% extends "base.html" %}

{% block content %}
    <h1 class="my-5">Notes</h1>
    <div class="row row-cols3 g-2">
        {% for note in notes %}
            <div class="col">
                <div class="p-3 border">
                    <a class="text-dark text-decoration-none" href="{% url 'notes.detail' pk=note.id %}">
                        <h3>{{ note.title }}</h3>
                        <p>{{ note.text | truncatechars:24}}</p>
                        <small>created: {{ note.created }}</small>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}