<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queries</title>
</head>
<body>
    <h1>Queries</h1>
    <h2>All the objects</h2>
    <ul>
        {% for author in authors %}
            <li>{{ author.name }}, email: {{ author.email }}</li>
        {% endfor %}
        <h3> Total: {{ authors | length }}</h3>
    </ul>
    <h2>Filtered data</h2>
    <ul>
        {% for elem in filtered %}
            <li>{{ elem.name }}: [{{ elem.email }}]</li>
        {% endfor %}
    </ul>
    <h2>Single record</h2>
    <p>{{ author }}</p>
    <h2>First 10 records</h2>
    <ul>
        {% for li in limits %}
            <li>::: {{ li.email }}</li>
        {% endfor %}
    </ul>
    <h2>Offsets</h2>
    <ul>
        {% for off in offsets %}
        <li>==> {{ off.email }} <==</li>
        {% endfor %}
    </ul>
    <h2>Ordered element by email</h2>
    <ul>
        {% for elem in orders %}
        <li>{{ elem.email }}</li>
        {% endfor %}
    </ul>
    <h2>Filtered</h2>
    <ul>
        {% for elem in filtered2 %}
            <li>{{ elem.email }}</li>
        {% endfor %}
    </ul>
</body>
</html>